<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webcam Access</title>
  </head>
  <body>
    <h1>Webcam Capture</h1>
    
    <div>
      
      <button id="capture" onclick="window.location.href='/capture'">Add New Image</button>
    </div>
    <div>
      
      <button id="attendance" onclick="window.location.href='/attendance'">Take Attendance</button>
    </div>
    <div>
      
      <button id="see_details" onclick="window.location.href='/see_details'">See Details</button>
    </div>
    <h4> press 'q' to exit taking attendance</h4>
  </body>
</html>

